@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__link {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 13px;
}
.header__title {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-right: 37px;
}
.header__span-d {
  color: #f16d7f;
  font-weight: 900;
}
.header__finder {
  display: flex;
  align-items: center;
}
.header__finder-browse {
  background: #f5f5f5;
  padding-left: 16px;
  padding-right: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  cursor: pointer;
  position: relative;
}
.header__browse-category {
  position: absolute;
  top: 67px;
  background-color: #ffffff;
  padding-top: 19px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 22px;
  border: 1px solid #e6e6e6;
  z-index: 5;
}
.header__browse-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  padding-right: 180px;
}
.header__browse-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__browse-content__link {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.header__browse-content__link:hover {
  color: #f16d7f;
}
.header__finder-span {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}
.header__input {
  padding-left: 16px;
  padding-top: 8.25px;
  padding-bottom: 8.25px;
  padding-right: 50px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-left: none;
}
.header__button {
  padding: 8.25px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  background: #ffffff;
  cursor: pointer;
}
.header__button:hover {
  background-color: #838383;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 26px;
}
.header__right-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header__right-summary {
  display: flex;
  background-color: #f16d7f;
  font-size: 15px;
  border: 1px solid #f16d7f;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-left: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  cursor: pointer;
  position: relative;
}
.header__right-summary:hover {
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}
.header__right-summary:hover .white {
  fill: #f16d7f;
}
.header__right-cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 21px;
  padding-left: 17px;
  padding-right: 15px;
  padding-bottom: 20px;
  position: absolute;
  background: #ffffff;
  right: 260px;
}
.header__right-cart-product {
  display: flex;
  gap: 55px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
.header__right-cart_content {
  display: flex;
  gap: 14px;
}
.header__right-cart-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
}
.header__right-cart-product_title {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right-cart-product_rate {
  display: flex;
}
.header__right-cart-product_price {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.header__right-cart-product_cancel {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header__right-cart-product_total-price {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}
.header__right-cart-product_total {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right-cart-product-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.header__right-cart-product-link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  padding: 19px 74px;
  transition: all 0.7s;
}
.header__right-cart-product-link:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.man {
  padding-top: 22px;
}

.svg_arrow {
  width: 10px;
  fill: #838383;
  margin-left: 8px;
}

.svg_loop {
  width: 12px;
  fill: #838383;
}

.header__button:hover .svg_loop {
  fill: #ffffff;
}

.white {
  fill: #ffffff;
}

.svg-cart:hover path {
  fill: #f16d7f;
  cursor: pointer;
}

.go-to-cart {
  padding-left: 71.5px;
  padding-right: 71.5px;
}

.svg-star {
  fill: gold;
  width: 12px;
}

.svg-cancel {
  fill: #c0c0c0;
  width: 16px;
}

.arrow[open] .down {
  display: none;
}

.arrow[open] .up {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow .up {
  display: none;
}

.span-x {
  font-size: 8px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.nav__menu {
  display: flex;
}
.nav-link {
  padding: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  position: relative;
}
.nav-link:hover {
  color: #f16d7f;
}
.nav__menu-box {
  margin-top: 15px;
  display: none;
  flex-direction: row;
  gap: 46px;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 21px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
}
.nav__menu-box::before {
  content: "";
  display: block;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border: 1px solid #eaeaea;
  transform: rotate(45deg);
  position: absolute;
  left: 33px;
  top: -9px;
  border-bottom: none;
  border-right: none;
}
.nav__menu-content {
  display: flex;
  flex-direction: column;
}
.nav__menu-img {
  padding-top: 35px;
}
.nav__menu-img-box::before {
  content: "SUPER SALE!";
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 30px;
  right: 60px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.nav__new-padding {
  padding-top: 30px;
}
.nav_menu-link {
  position: relative;
}

.nav_menu-link:hover .nav__menu-box {
  display: flex;
}

.last {
  right: 0;
  left: auto;
}

.top {
  background-image: url(img/top-image.jpg);
  padding-top: 247px;
  padding-bottom: 297px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.top__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-left: 12px;
}
.top__heading::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100px;
  background: #f16d7f;
  top: 12px;
  left: -12px;
}
.top__title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.top__subtitle {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.top__title-span {
  color: #f16d7f;
  font-size: 40px;
}

.offer {
  padding-top: 98px;
  padding-bottom: 100px;
  display: inline-block;
}
.offer__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px 20px 16px 20px;
  position: absolute;
  top: 26px;
  background-color: #ffffff;
}
.offer__figure:hover {
  scale: 1.05;
}
.offer__text-span {
  font-size: 30px;
  color: #f16d7f;
}

.offer {
  padding-top: 98px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.offer__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offer__figure {
  position: relative;
  transition: all 0.6s;
}
.offer__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px 20px 16px 20px;
  position: absolute;
  top: 26px;
  background-color: #ffffff;
}
.offer__figure:hover {
  scale: 1.05;
}
.offer__text-span {
  font-size: 30px;
  color: #f16d7f;
}

.products {
  padding-bottom: 113px;
  transition: all 0.7s;
}
.products__title {
  text-align: center;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}
.products__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  padding-bottom: 60px;
}
.products__button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.products__button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  background: #f16d7f;
}
.products__button-svg {
  width: 15px;
  fill: #ffffff;
}

.products__box {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  gap: 32px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product:hover .img_product {
  filter: brightness(30%);
}
.product-button_addcart {
  display: none;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: none;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  cursor: pointer;
}
.product-button_addcart:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
.product-button_addcart:hover .cart_icon {
  fill: #f16d7f;
}
.product__title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-top: 19px;
  padding-left: 15px;
}
.product__price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 17px;
  padding-left: 15px;
  padding-bottom: 21px;
}
.product-img-hover ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
.product:hover .-img-hover {
  opacity: 1;
  z-index: -1;
}

.product:hover .img_product {
  background-color: rgba(58, 56, 56, 0.86);
  z-index: 99;
}

.product:hover .product-button_addcart {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  z-index: 100;
}

.img_product {
  width: 100%;
  height: 100%;
  transition: transform 0.3s, filter 0.3s;
  position: relative;
  z-index: -1;
}

.cart_icon {
  fill: #ffffff;
}

.advantages {
  display: flex;
  padding-bottom: 97px;
}
.advantages__img {
  position: relative;
}
.advantages__content {
  display: flex;
  padding-top: 48px;
  padding-left: 36px;
  padding-right: 33px;
  background-color: #222224;
}
.advantages__content-svg {
  padding-right: 33px;
}
.advantages__img-title {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: absolute;
  top: 146px;
  left: 39px;
}
.advantages__img-title-span {
  font-size: 32.2px;
}
.advantages__img-title-span1 {
  color: #f16d7f;
}
.advantages__content-texts {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.advantages__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.advantages__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.last-adv {
  padding-bottom: 46px;
}

.subscribe {
  padding-top: 111px;
  padding-bottom: 201px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  z-index: -1;
}
.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/background_img_subscribe.png) no-repeat;
  background-size: cover;
  z-index: -2;
}
.subscribe__left {
  display: flex;
  gap: 28px;
}
.subscribe__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  max-width: 360px;
  margin-top: 12px;
  margin-bottom: 19px;
}
.subscribe__subtitle {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.subscribe__subtitle-span {
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.subscribe__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.subscribe__title {
  margin-bottom: 32px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  align-items: center;
}

.subscribe__title-small {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe__buttons {
  display: flex;
}

.subscribe__email {
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  border: none;
  background-color: #E1E1E1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 60px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__button {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F16D7F;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
  border-top-right-radius: 20em;
  border-bottom-right-radius: 20em;
  align-items: center;
}

.subscribe__button:active {
  background-color: white;
  color: #F16D7F;
}

.about {
  display: flex;
  padding-top: 109px;
  padding-bottom: 89px;
}
.about__info {
  margin-right: 95px;
}
.about__title {
  margin-bottom: 41px;
}
.about__text {
  max-width: 340px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.about__text:last-of-type {
  margin-bottom: 0;
}
.about__links {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
}
.about__links:last-of-type {
  margin-right: 0;
}
.about__links-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 65px;
}
.about__links-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.about__link:hover {
  color: #f16d7f;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #e6e6e6;
}
.footer__title {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer__icon {
  padding: 6px 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.footer__icon:hover {
  background-color: #f16d7f;
}
.footer__icon:hover .footer__icon-svg {
  fill: #ffffff;
}
.footer__icon-svg {
  width: 12px;
  fill: #b2b2b2;
}
.footer__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.footer__link {
  display: block;
}/*# sourceMappingURL=style.css.map */